*.suo
*.bat
bin
obj
packages
/Dia/*.h
/Dia/*.tlb
/Dia/*.c
paket.exe
AssemblyInfo.fs
AssemblyInfo.cs
/docs/output
/docs/content/release-notes.md
/docs/files/img/SourceLink128.jpg
/docs/SourceLink128.jpg
*.sln.ide
/gh-pages
*.sdf
.fake/
Tfs/lib/*.dll
lib/*.dll
.vs/
packages.config
.vscode/launch.json