# Autodetect text or binary. Do not leave merge conflict markers in the files.
* text=auto merge=union

# Use LF in the working directory by default. Override with core.autocrlf=true.
*.fs eol=lf

# Visual Studio can read LF sln files, but it always writes them as CRLF.
*.sln eol=crlf