image: Visual Studio 2017

init:
  - git config --global core.autocrlf input
  # - '"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe"'

clone_depth: 10

before_build:
  - cmd: dotnet restore .\SourceLink.sln

build_script:
  - ps: |
      # dotnet --version
      .\build.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }

# test:
#   assemblies:
#     only:
#       - '**\Tests.dll'

# test_script:
#     - ps: dotnet test .\Tests\Tests.csproj  

artifacts:
  - path: bin\*.nupkg