image: Visual Studio 2019

init:
  - git config --global core.autocrlf input
  # - '"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe"'

clone_depth: 10

build_script:
  - ps: |
      # dotnet --version
      .\build.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }

artifacts:
  - path: bin\*.nupkg