os: Visual Studio 2017
init:
  - git config --global core.autocrlf input
clone_depth: 10
before_build:
  - ps: Invoke-WebRequest https://raw.githubusercontent.com/Microsoft/visualfsharp/master/scripts/Install-VisualFSharpNightly.ps1 -OutFile Install-VisualFSharpNightly.ps1
  - ps: ./Install-VisualFSharpNightly.ps1
build_script:
  - ps: |
      dotnet --version
      .\build.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }
test: off
artifacts:
  - path: bin\*.nupkg