os: Visual Studio 2017 RC
clone_depth: 10
build_script:
  - ps: |
      dotnet --version
      .\build.ps1
      if ($lastexitcode -ne 0){ exit $lastexitcode }
test: off
artifacts:
  - path: bin\*.nupkg