<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="appveyor" value="https://ci.appveyor.com/nuget/sourcelink/" />
    <add key="dontet-sourcelink" value="https://dotnet.myget.org/F/sourcelink/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>