source http://nuget.org/api/v2
source https://ci.appveyor.com/nuget/sourcelink-helmesfwai2a
#source https://ci.appveyor.com/nuget/msbuild-kn0ejscjf29k

nuget FAKE
nuget SourceLink.Fake 0.6.0-b221
nuget FSharp.Formatting
nuget NuGet.CommandLine
nuget RazorEngine
nuget FSharp.Core
nuget LibGit2Sharp
nuget Mono.Cecil
nuget UnionArgParser
nuget SourceLink.MSBuild 14.1.0