source http://nuget.org/api/v2
source https://ci.appveyor.com/nuget/sourcelink-helmesfwai2a

nuget FAKE
nuget SourceLink.Fake prerelease
nuget FSharp.Formatting
nuget NuGet.CommandLine

nuget FSharp.Data
nuget LibGit2Sharp
nuget Mono.Cecil